/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
body {
  color: #555555;
  margin: 0;

  font-family: 'Reggae One',cursive, sans-serif;
}
a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover {
  color: #f6a623;
}
#header {
  background-color: #CC608C;
  height: 150px;
  line-height: 150px;
}

#header a {
  color: white;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#header a:hover {
  color: #222;
}

#header-title {
  display: block;
  float: left;

  font-size: 20px;
  font-weight: bold;
}

#header-nav {
  display: block;
  float:right;
  margin-top: 0;
}

#header-nav li {
  display: inline;
  padding-left: 20px;
}

.post-container:nth-child(even) {
  background-color: #C0C0C0;
}

.container {
  max-width: 1500px;
  margin:0 auto;
}

.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.post-content img {
  border-radius: 10% / 20%;
}

.post-author img,
.about-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;
}

.post-author span {
  margin-left: 16px;
}

.post-date {
  color: #d2d2d2;

  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
  color: #333;
}

p {
  line-height: 1.5;
}

#footer {
  background-color: #2f2f2f;
  padding: 50px 0;
}

.column {
  min-width: 400px;
  display: inline-block;
  vertical-align: top;
}

.column-b {
  min-width: 400px;
  float: right;
  display: inline-block;
  vertical-align: top;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p {
  color: white;
}

.about {
  text-align: center;
}
